.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 30px;
}

.content-wrapper {
  max-width: 90%; /* Further increased width of the container */
  background: white;  
  padding: 40px; /* Increased padding for more space */
  border-radius: 60px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.page-title {
  font-size: 36px; /* Increased font size for page title */
  margin-bottom: 30px;
  color: #333;
}

.section {
  margin-bottom: 30px;
}

.title {
  font-size: 30px; /* Increased font size for section titles */
  margin-bottom: 15px;
  color: #555;
}

.text {
  font-size: 20px; /* Increased font size for text */
  color: #666;
}

.values-section {
  margin-top: 30px;
}

.values-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 20px; /* Increased font size for values list */
  color: #666;
  text-align: left;
}

.values-list li {
  margin: 12px 0; /* Increased space between list items */
  position: relative;
}

.values-list li::before {
  content: '•';
  color: #555;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
