body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  /* Removed background image */
  background-color: #f0f8ff; /* Light blue background */
  color: #333;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background-color: #fff; /* Plain white background */
  margin-bottom: 20px; /* Add spacing below the section */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 20px;
  color: #333;
}

.hero p {
  font-size: 30px;
  margin-bottom: 30px;
  color: #333;
}

.testimonials {
  background-color: #f8f9fa;
  padding: 40px 20px;
  text-align: center;
  margin-bottom: 20px; /* Add spacing below the section */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.testimonials h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #007bff;
}

.testimonials blockquote {
  font-size: 20px;
  font-style: italic;
  margin: 20px auto;
  max-width: 600px;
  color: #333;
}

.testimonials cite {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  color: #666;
}

.highlights {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px 20px;
  background-color: #fff; /* Plain white background */
  margin-bottom: 20px; /* Add spacing below the section */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.highlight {
  max-width: 30%;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.highlight img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.highlight h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #0056b3;
}

.highlight p {
  font-size: 1em;
  color: #666;
}

.events-link-section {
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa;
  margin-bottom: 20px; /* Add spacing below the section */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.events-link {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1.2em;
  color: #fff;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.events-link:hover {
  background-color: #0056b3;
}

.logo {
  height: 50px;
}
